.sermons-landing-image {
  height: 75vh;
	background-image: url(../../../assets/images/Sermons_BG.jpg);
}

.carousel-control-prev,
.carousel-control-next{
      bottom: 95%;
}

.img-grow:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

iframe {
  height: 100%;
  width: 100%;
}

.card-header {
  height: 315px;
  width: 560x;
}
.fa-arrow-right,.fa-arrow-left {
  color: #000000;
}

.card-body {
  color: #000000;
}

.fa-youtube-square {
	color: red;
}