<div class="pimg1 sermons-landing-image">
  <div class="ptext">
    <h3>
      <span class="border">
       Hope Point Sermons
      </span>
    </h3>
  </div>
</div>
<div class="container bg-light py-3">
    <div class="carousel slide" data-interval="false" id="hopePointVideos">        
        <!-- <ul class="carousel-indicators">
          <li *ngFor="let s of sermons?.items; index as i" data-target="#hopePointVideos" data-slide-to="0" [ngClass]="i == 0 ? 'active' : ''"></li>
        </ul> -->
        <div class="carousel-inner">
          <div class="carousel-item p-0 p-md-3 mx-auto w-75 h-100" *ngFor="let s of sermons?.items; index as i" [ngClass]="i == 0 ? 'active' : ''">
              <div class="embed-responsive embed-responsive-21by9">
                <iframe 
                  class="embed-responsive-item" 
                  [src]="sanatizeUrl(s.id.videoId)" 
                  frameborder="0" 
                  allow="encrypted-media" 
                  allowfullscreen
                  >
                </iframe>
              </div>
              <div class="row bg-light">
                <div class="col-xs-12 d-none">
                  <h3 class="text-center">{{s.snippet.title}}</h3>
                </div>
                <div class="col-xs-12 d-none">
                  <p class="text-left">{{s.snippet.channelTitle}}</p>
                  <p class="text-left">{{s.snippet.description}}</p>
                </div>
              </div>
          </div>
        </div>
          <a class="carousel-control-prev" href="#hopePointVideos" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#hopePointVideos" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
      </div>
</div>
<section class="section sectoin-light">
  <div class="container">
    <h4 class="text-center">For more sermons please visit our Youtube channel</h4>
    <p class="text-center"><a href="https://www.youtube.com/channel/UCZoJnP9s_Wxd0HPzl47evyA/" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a></p>
  </div>
</section>

