.events-landing-image {
  height: 75vh;
	background-image: url(/assets/images/extra_content/events.jpg);
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.card {
	height: 200px;
	overflow: auto;
}