.dashboard-landing-image {
  height: 75vh;
	background-image: url(../../../assets/images/landing.jpg);
}

.table-image {
	background-image: url(../../../assets/images/TheTable_BG.jpg);
}

.prayer-image {
	background-image: url(../../../assets/images/extra_content/worship_1.jpg);
}

img {
	height: 200px;
	width: 200px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.list-group-item {
	background-color: rgba(0,0,0,0)
}