.dashboard-landing-image {
  height: 75vh;
	background-image: url(/assets/images/backgrounds/landing.jpg);
}
.table-image {
	background-image: url(/assets/images/backgrounds/TheTable_BG.jpg);
}

.prayer-image {
	background-image: url(/assets/images/extra_content/worship_1.jpg);
}
@media (max-width: 768px){
	.dashboard-landing-image {
		background-image: url(/assets/images/mobile/jesus_bg.jpg);
	}
	.table-image {
		background-image: url(/assets/images/logos/The_Table_Logo_350x350.png);
	}
	
	.prayer-image {
		background-image: url(/assets/images/mobile/mobile_worship.jpg);
	}
}


img {
	height: 200px;
	width: 200px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.list-group-item {
	background-color: rgba(0,0,0,0)
}

.info {
	max-width: 60%;
}

.pastors {
	background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pastors a {
	text-shadow: 1px 1px #333;
}