.list-group-item {
	background-color: rgba(0,0,0,0)
}

// .mb40{margin-bottom:40px;}
// .team-block { margin-bottom: 20px; }
// .team-content { position: absolute; background-color: rgba(17, 24, 31, 0.8); bottom: 0px; width: 100%; color: #fff; padding: 30px; }
// .team-img { position: relative; }
// .team-img img { width: 100%; }
// .team-meta { color: #9da4aa; font-weight: 400; font-size: 16px; }

// @media (max-width: 450px){
// 	.team-img img {
// 		width: 300px; 
// 	}
// 	.team-content {
// 		width: 300px;
		
// 	}
// 	.team-block {
// 		padding-left: 2.5rem;
// 	}
// }

// @media (min-width: 451px) and (max-width: 575px){
// 	.team-img img {
// 		width: 400px; 
// 	}
// 	.team-content {
// 		width: 400px;
		
// 	}
// 	.team-block {
// 		padding-left: 5rem;
// 	}
// }
// @media (min-width: 576px) and (max-width: 768px){
// 	.team-img img {
// 		width: 400px; 
// 	}
// 	.team-content {
// 		width: 400px;
		
// 	}
// 	.team-block {
// 		padding-left: 5rem;
// 	}
// }
// @media (min-width: 769px) and (max-width: 991px){
// 	.team-img img {
// 		width: 500px;
// 	}
// 	.team-content {
// 		width: 500px;
		
// 	}
// 	.team-block {
// 		padding-left: 5rem;
// 	}
// }