<div class="pimg1 dashboard-landing-image">
  <div class="ptext">
    <h2>
      <span class="border">
        WELCOME HOME
      </span>
    </h2>
  </div>
</div> 
<section class="section section-light">
<h2><strong>Hope Point Nazarene</strong></h2>
<p>
  eget dolor morbi non arcu risus quis varius quam quisque id diam vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi leo urna molestie at elementum eu facilisis sed odio morbi quis commodo odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in
</p>
</section>
<section class="section section-dark">
  	<h2>Fellowship</h2>
    <p>
      Find a group to grow and bond with at The Table
    </p>
</section>
<div class="pimg3 table-image">
  <a href="table" class="span-link">
    <div class="ptext mx-auto">
      <h2>
          <span class="border trans">
            The Table
          </span>
      </h2>
    </div>
  </a>
</div>
<section class="section section-light">
  <h1 class="text-center text-dark">Join us in prayer</h1>
  <h5 class="text-center text-dark">Every Saturday at 6:00pm</h5>
</section>
<div class="pimg2 prayer-image">
  <a href="prayer" class="span-link">
    <div class="ptext mx-auto">
      <h2>
          <span class="border trans">
            House of Prayer
          </span>
      </h2>      
    </div>
  </a>
</div>
<section class="section section-light">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-dark">Our Pastors</h3>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4 pt-5" *ngFor="let member of staffMembers">
        <img class="rounded-circle img-fluid d-block mx-auto" src="{{member.ImgUrl}}" alt="{{member.name}}" >
        
          <h3>{{member.name}}</h3>
          <p>{{member.title}}<br>
            <small>
              <a href="{{member.facebook}}" target="_blank">Facebook</a>
            </small>
            <br>
            <small>
              <a href="{{member.twitter}}" target="_blank">@{{member.name}}</a>
            </small>
          </p>
    </div>
  </div>
</section>