<div class="pimg1 ministry-landing-image">
  <div class="ptext">
    <h4>
      <span class="border">
        HOPE POINT Ministries 
      </span>
    </h4>
  </div>
</div>
<section class="section section-dark">
  <h2><strong>Find a ministry that fits your desires</strong></h2>
</section>
<div>
  <div class="card-columns pt-md-3">
    <div class="card mx-auto" *ngFor="let m of ministries">
      <a href="{{m.href}}">
        <div class="card-body p-0">
            <div [ngStyle]="{ 'background-image': 'url(' + m.ImgUrl + ')',  'background-size': 'cover',
            'background-repeat': 'no-repeat', 'height': '300px' }">
              <div class="my-auto mx-auto">
                <p>{{m.name}}</p>
              </div>
            </div>
        </div> 
      </a>
    </div>
  </div>
</div>