.ministry-landing-image {
  height: 75vh;
	background-image: url(/assets/images/extra_content/bible_pages_turning.jpg);
}

.gradient {
	background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #bbd2c5, #536976); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #bbd2c5, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

.card {
	background-color: rgba(0,0,0,0);
}

.small-img {
	height: 25%;
	width: 25%;
}


.card-body {
	height: 100%;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}