.ministry-landing-image {
  height: 75vh;
	background-image: url(../../../assets/images/extra_content/bible_pages_turning.jpg);
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

.card {
	background-color: rgba(0,0,0,0);
}

.small-img {
	height: 25%;
	width: 25%;
}


.card-body {
	height: 100%;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}