/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Cen-Gothic";
	src: url('fonts/century_gothic.eot'); /* IE */
	src: url('fonts/century_gothic.eot?#iefix') format('embedded-opentype'), 
			url('fonts/century-gothic.ttf') format('truetype');
  
}
body, html {
	font-family: 'Cen-Gothic', Fallback, sans-serif;
	line-height: 1.231;
	background: url("../assets/images/backgrounds/main_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}
.title {
	color: #FFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	max-width: 650px;
	margin: 0px auto;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.0;
}
.splash-image {
	display: table;
	position: relative;
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #888;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro {
	position: relative;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro .intro-text, .intro .intro-text-right {
	background-color: rgba(204, 204, 204, .8);
	
}

.cta {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(166, 166, 166, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.about-heading .about-heading-img {
  position: relative;
  z-index: 0;
  height: 350px;
  width: 100%;
}
.about-heading .about-heading-content {
  margin-top: -7rem;
  position: relative;
  width: 75%;
  background-color: rgba(166, 166, 166, .9);
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}



@media (max-width: 576px) {
	p {
		font-size: 14px;
	}
	
	.modal {
		height: 500px; /* Set a default max height of the modal (adjusted later)*/
		position: fixed; /* Display modal in the centre of your screen */
		overflow-y: scroll; /*  Ensure that the modal is scroll-able */
		-webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
	}
	.modal.fade.in{
		/* top: 5px;  */
	}
	.modal-body{
		/* Increase the max height of the modal body to try & avoid both it,
			* and the modal container having scroll bars which results in odd behavior */ 
		max-height: 100%; 
	}
	.info {
		max-width: 90% !important;
	}
	
}

@media (max-width: 768px){
	.intro .intro-text, .intro .intro-text-right {
		margin-top: 0;
		width: 100%;
	}
	.intro .intro-img, .intro .intro-img-left {
    width: 100%;
	}
	.about-heading .about-heading-content {
    margin-top: 2%;
    width: 100%;
	}
	
	

}

@media (min-width: 770px) and (max-width: 992px){
	.intro .intro-text, .intro .intro-text-right {
		margin-top: 2%;
	}
	h5 {
		font-size: 1rem;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {
  .intro .intro-img {
    width: 75%;
    float: right;
	}
	.intro .intro-img-left {
		width: 75%;
		float: left;
	}
  .intro .intro-text {
		width: 60%;
		position: absolute;
		left: 0;
    margin-top: 20%;
	}
	.intro .intro-text-right {
		width: 60%;
		position: absolute;
		right: 0;
		margin-top: 20%;
	}
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
	}
	
}

@media (min-width: 1202px) {
  /* .intro .intro-text, .intro-text-right {
    width: 45%;
	} */
	.intro .intro-img, .intro .intro-img-left {
    width: 75%;
	}
	.intro .intro-img {
		float: right;
	}
	.intro .intro-img-left {
		float: left;
	}
  .intro .intro-text, .intro .intro-text-right {
		width: 60%;
		position: absolute;
    margin-top: 25%;
	}
	.intro .intro-text {
		left: 0;
	}
	.intro .intro-text-right {
		right: 0;
	}
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
	}
	.about-heading .about-heading-img {
		position: relative;
		z-index: 0;
		height: 450px;
		width: 100%;
	}
	
}

.modal-toggler {
	max-width: 100vw;
}

.calendar{
	top:0em;
  left:0em;
	padding:0;
	width: relative; 
	background:#ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc)); 
	background: -moz-linear-gradient(top,  #ededef,  #ccc); 
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: bold;
	font-stretch: normal;
	font-size: 30px !important;
	line-height: 60px !important;
	text-align:center;
	color:#000;
  
	text-shadow:#fff 0 1px 0;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
	position:relative;
	-moz-box-shadow:0 2px 2px #888;
	-webkit-box-shadow:0 2px 2px #888;
	box-shadow:0 2px 2px #888;
	}

.calendar em{
	display:block;
	font-size: 12px !important;
	line-height: 30px !important;
	color:#fff;
	text-shadow:#00365a 0 -1px 0;	
	background:#04599a;
	background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a)); 
	background:-moz-linear-gradient(top,  #04599a,  #00365a); 
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;	
	border-bottom-left-radius:3px;	
	border-top:1px solid #00365a;
	}

.cal_box {
	float: none;
	min-height: 100px;
}
.date-as-calendar {
	color: #000;
	overflow: hidden;
	width: 90px;
	height: 100px;
	border: 1px solid #0579BE;
	clear: none;
	float: left;
}

.date-as-calendar .month,
.date-as-calendar .day,
.date-as-calendar .weekday {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.date-as-calendar .month {
	font-size: 1rem;
	font-family: 'Cen-Gothic';
	background: #0579BE;
	color: #FFF;
	line-height: 40px;
}

.date-as-calendar .day {
	font-size: 1.6rem;
}

.date-as-calendar .weekday {
	font-size: .8em;
}

.date-as-calendar .calendar-event-name {
	margin-left: 100px;
	font-weight: 700;
}

