/* You can add global styles to this file, and also import other style files */
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

@media (max-width: 576px){
	p {
		font-size: 14px;
	}
	body {
		overflow: hidden;
	}
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}

.pimg1, .pimg2, .pimg3 {
	position: relative;
	opacity: 0.90;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.pimg1 {
	min-height: 100vh;
	width: 100%;
}

.pimg2 {
	min-height: 600px;
	width: 100%;
}
.pimg3 {
	min-height: 600px;
	width: 100%;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background-color: #F4F4F4;
	color: #000;
}

.section-dark {
	background-color: #282E34;
	color: #DDD;
}

.section-sermon {
	background-color: rgba(0,0,0,.5);
	color: #000;
	height: 100%;
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	text-transform: uppercase;
}

.ptext-bottom {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.border {
	border-radius: 15px;
}

.ptext-bottom .border {
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	padding: 20px;
}

.ptext .border {
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	padding: 20px;
}

.ptext .border .trans{
	background-color: transparent;
}

.modal-toggler {
	max-width: 100vw;
}

@media (max-width: 576px){
	.carousel-item {
		font-size: 14px;
	}
	.carousel-item h3 {
		font-size: 16px;
	}
	.carousel-indicators {
		bottom: -20px !important;
	}
	.info {
		max-width: 90% !important;
	}
}

.carousel-indicators {
	bottom: -20px;
}

.carousel-indicators li {
	border: 1px solid #FFF;
	border-radius: 50%;
	height: 10px;
	width: 12px;
}


.carousel-item {
	height: 300px;
}

.carousel-control-prev {
	left: 0;
}

.carousel-control-next {
	right: 0;
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
}