.project-hope-landing-image {
	background-image: url(/assets/images/extra_content/project_hope.jpg);
}

.ptext {
	position: absolute;
}

.gradient {
	background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #bbd2c5, #536976); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #bbd2c5, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}