<div class="pimg1 patio-landing-image">
  <div class="ptext">
    <h4>
      <span class="border">
        HOPE POINT WELCOMES YOU 
      </span>
    </h4>
  </div>
</div> 
<section class="section section-light">
  <h2><strong>Welcome to the Brick Patio</strong></h2>
  <p>
    The Brick Patio is the welcoming platform at Hope Point. It is located to the right of the main entrance.
    Anyone is welcomed to visit and learn <a href="about"><strong>more about</strong></a> Hope Point, who we are, what our mission is,
    and how we can get you connected with your fellow church members. Please swing by before or after either service on Sunday mornings. We look forward to talking to you! 
  </p>
</section>
<section class="section section-dark">
  <h2><strong>Let's get you connected</strong></h2>
</section>
<div class="p-5">
  <div class="card-deck pt-5 px-md-5">
    <div 
      class="card"
      *ngFor="let c of connections"      
    >
      <div
        class="card-body"
        (click)="hidden[c.id] = !hidden[c.id]"
        id="{{c.id}}"          
      >
        <img 
          src="{{c.ImgUrl}}"
          alt="{{c.name}}"
          class="card-img-top"
        />
        <div
          class="card-body"
        >
          <h4 class="title text-center">{{c.name}}</h4>
          <div class="hidden{{c.id}}" *ngIf="hidden[c.id]">
            {{c.description}}
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-md-5 p-sm-0 p-1 groups">
    <h3 class="text-center text-white">Feel free to browse our public groups</h3>
    <div class="embed-responsive embed-responsive-1by1">
      <iframe class="embed-responsive-item pb-5" src="https://myhopepoint.ccbchurch.com/w_group_list.php"></iframe>
    </div>
</div>