.patio-landing-image {
  height: 75vh;
	background-image: url(../../../assets/images/BrickPatio_BG.jpg);
}

a {
	color: #000000;
}

.card {
	background-color: rgba(0,0,0,0);
}

.groups {
	background-color: #282E34;
}
