.worship-image {
  height: 80vh;
  background-image: url(/assets/images/extra_content/worship_2.jpg);
}

img {
	height: 200px;
	width: 200px;
}

@import "~bootstrap/scss/bootstrap";

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
    -webkit-column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
    -webkit-column-count: 2;
  }
}