<section class="page-section pt-2 clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" [src]="base + '/assets/images/backgrounds/Club45_BG.jpg'" alt="Hope Point Club45 Ministry">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Hope Point Nazarene</span>
            <span class="section-heading-lower">Club 45 Ministry</span>
          </h2>
          <p class="mb-3">
              &#8220;Through the praise of children and infants you have established a stronghold against your enemies, to silence the foe and the avenger.&#8221; - Psalm 8:2
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner rounded">
                <div class="col-xs-12 w-75 mx-auto">
                  Club 45 gives 4th and 5th graders a fun and safe place to play, serve, share and dig into the word. Friends are always welcome!
                </div>
                <div class="col-xs-12 pt-5 text-center">
                  <h3>View Our Club 45 Calendar Below</h3>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="page-section">
    <div class="container">
        <div class="card-columns">
            <div class="card" *ngFor="let e of events; let i = index">
              <div class="card-header p-0">
                <div class="cal_box">
                  <div class="date-as-calendar">
                    <span class="month">{{ e.date | date:"MMM" }}</span>
                    <span class="day"> {{e.date | date:"dd"}}</span>
                    <span class="weekday">{{e.date | date:"EEEE"}}</span>
                  </div>
                  <span class="calendar-event-name">{{e.event_name}}</span>
                </div>
                
              </div>
              <div class="card-body">
                
                <div class="col-xs-12 text-left" [innerHTML]="sanatizeHtml(e.event_description)" ></div>
                <div class="col-xs-12"><strong>When: </strong>{{ e.date + 'T' + e.start_time | date:"shortTime" }}</div>
                <div class="col-xs-12" [innerHTML]="returnLocation(e.location)"></div>
                <div class="col-xs-12"><strong>Contact: </strong><span (click)="expanded[i] = !expanded[i]">Show More <i class="fas fa-angle-down"></i></span>
                  <div class="col-xs-12 pt-2" [hidden]="!expanded[i]">
                      <p><strong>{{e.leader_name}}</strong></p>
                      <p [innerHtml]="returnContact(e.leader_phone)"></p>
                      <p [innerHTML]="returnEmail(e.leader_email, e.event_name)"></p>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
    </div>
  </section>
