@import "~bootstrap/scss/bootstrap";

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
    -webkit-column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
    -webkit-column-count: 2;
  }
}