.page-footer-image {
  background-color: #262626;
  color: #FFFFFF;
  hr {
    background-color: #FFFFFF;
    border: .02rem solid #FFFFFF;
  }
  p {
    text-shadow: 1px 1px 5px #000000;
  }
  .app-container {
    max-width: 60%;
    i {
      color: #FFFFFF;
      text-shadow: 5px 5px 10px #000000;
    }
  }
}

footer {
  background-color: #262626;
  color: #FFFFFF;
  a, a:hover, a:focus {
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000000;
    text-decoration: none;
  }
  h4 {
    font-weight: normal;
  }
  i {
    text-shadow: 5px 5px 10px #000000;
  }
  label {
    text-shadow: 1px 1px 5px #000000;
  }
  .invalid-feedback {
    height: 2rem;
    margin-top: 10px;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
  }
}