<div class="pimg1 events-landing-image">
  <div class="ptext" *ngIf="event">
    <h3>
      <span class="border">
        {{ event.name }}
      </span>
    </h3>
  </div>
</div>
<div class="p-5">
  <div class="card mx-auto" *ngIf="event">
    <img class="card-img-top" src="../../../assets/images/outreach/the_way.jpg">
    <div class="card-body">
      <div [innerHTML]="event.public_calendar_listed == 'true' ? sanatizeHtml(event.description) : 'We\'re sorry; details will be posted soon'"></div>
      <div class="location p-5 mx-auto">
        <p class="text-center">{{event.location.name}}</p>
        <p><a href="https://www.google.com/maps/@39.1336927,-121.6728428,18z" target="_blank">{{event.location.street_address}}, {{event.location.state}}, {{event.location.zip}}</a></p>
      </div>
    </div>
    <div class="card-footer">
      <a routerLink="/events" class="btn btn-outline-primary float-right">Back to Events</a>
    </div>
  </div>
</div>
