<nav [ngClass]="NavClass">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <span>
        <img [src]="base + '/assets/images/logos/website-logo-wht.png'" class="img-fluid logo" >
      </span>  
    </a>  
    <!-- Toggler/collapsibe Button -->
    <button
      class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#HopePointNav"
      aria-expanded="false" 
      aria-label="Toggle navigation" 
      aria-controls="HopePointNav"
    >
      <span>
        <img class="navbar-toggler-icon">
      </span>
    </button>

    <!-- Navbar links -->
    <div [ngClass]="TogglerClass" id="HopePointNav">
        
      <!-- List of Links -->
      <ul class="navbar-nav ml-auto pr-2">
        <li class="nav-item">
          <a class="nav-link" href="brick-patio">
            Welcome Center
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-hope-point">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hope-point-ministries">
            Ministries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="missions/outreach">
            Outreach
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="the-table">
            The Table
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="hope-point-sermons">
            Sermons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://pushpay.com/pay/hopepointnazarene/N8vOv5UhvTdkugMB4S35UQ">
            Give
          </a>
        </li> 
      </ul>
      <!--./List of Links-->
    </div>
     
</nav>
