<nav [ngClass]="NavClass" *ngIf="layout"> 
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <span>
        <img [src]="base + layout.icon" class="img-fluid logo">
      </span>  
    </a>  
    <!-- Toggler/collapsibe Button -->
    <button
      class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#HopePointNav"
      aria-expanded="false" 
      aria-label="Toggle navigation" 
      aria-controls="HopePointNav"
    >
      <span>
        <img class="navbar-toggler-icon">
      </span>
    </button>

    <!-- Navbar links -->
    <div [ngClass]="TogglerClass" id="HopePointNav">
        
      <!-- List of Links -->
      <ul class="navbar-nav ml-auto pr-2">
        <li class="nav-item" *ngFor="let item of layout.links">
          <a class="nav-link" href="{{item.route}}">
            {{item.title}}
          </a>
        </li>
      </ul>
      <!--./List of Links-->
    </div>
     
</nav>
