<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img my-3" [src]="base + '/assets/images/extra_content/missions.jpg'" alt="Hope Point Outreach Missions">
      <div class="about-heading-content mx-auto">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">About Hope Point</span>
                <span class="section-heading-lower">Mission Field</span>
              </h2>
              <p class="text-left p-5 shadow-lg rounded">
                Hope Point has partnered with Victory Chapel in Nassaw, Bahamas with a continuous mission presence in the church.
              </p>
              <p class="text-left p-5 shadow-lg rounded">
                Our local community is important to our Hope Point Family and serve to local missions; Project Hope and the Bike Kitchen.
              </p>
              <p class="text-center p-5 shdaow-lg rounded">
                Learn more about our missions below.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="row p-5">
        <div class="card col-xs-12 col-sm-6 mx-auto" *ngFor="let m of missions">
          <a href="{{m.href}}">
            <div class="card-body p-0">
                <div [ngStyle]="{ 'background-image': 'url(' + base + m.ImgUrl + ')',  'background-size': 'cover',
                'background-repeat': 'no-repeat', 'height': '300px' }">
                  <div class="my-auto mx-auto">
                    <p class="text-white">{{m.name}}</p>
                  </div>
                </div>
            </div> 
          </a>
        </div>
      </div>
    </div>
  </section>
