<!-- The Modal -->
<div class="modal bg-dark w-100" id="ministry-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark text-white border border-0 text-center">

      <!-- Modal Header -->
      <div class="modal-header">          
        <h4 class="modal-title">Hope Point Ministries</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col">
              <h3 class="text-center">Adult</h3>
              <div>
                  <ul class="list-group">
                    <li 
                      class="list-group-item bg-transparent border-0"
                      *ngFor="let adult of adultMinistries"
                    >
                      <a routerLink="{{adult.href}}">
                        <div class="media media-sm border-0 bg-dark">
                            <img 
                              src="{{adult.ImgUrl}}" 
                              alt="{{adult.name}}" 
                              class="mr-2 align-self-center" 
                              style="width:80px;"
                            >
                            <div class="media-body">
                              <h4 class="align-middle pt-3">{{adult.name}}</h4>
                            </div>
                          </div> 
                      </a> 
                    </li>
                  </ul>
              </div>
          </div>
          <div class="col">
              <h3 class="text-center">Family</h3>
              <div>
                  <ul class="list-group">
                    <li 
                      class="list-group-item bg-transparent border-0"
                      *ngFor="let family of familyMinistries"
                    >
                      <a routerLink="{{family.href}}">
                        <div class="media media-sm border-0 bg-dark">
                            <img 
                              src="{{family.ImgUrl}}" 
                              alt="{{family.name}}" 
                              class="mr-2 align-self-center" 
                              style="width:80px;"
                            >
                            <div class="media-body">
                              <h4 class="align-middle pt-3">{{family.name}}</h4>
                            </div>
                          </div> 
                      </a> 
                    </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
