<div class="pimg1 belief-image">
  <div class="ptext">
    <h2>
      <span class="border">
        OUR BELIEFS
      </span>
    </h2>    
  </div>
</div>
<section class="section section-light">
  <h2><strong>Agreed Statement of Belief</strong></h2>
    <div class="container">        
      <ul class="list-unstyled text-left">
        <li class="py-2">
          <strong>We believe</strong> in one God—the Father, Son, and Holy Spirit.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that the Old and New Testament Scriptures, given by plenary inspiration, contain all truth necessary to faith and Christian living.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that man is born with a fallen nature, and is, therefore, inclined to evil, and that continually.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that the finally impenitent are hopelessly and eternally lost.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that the atonement through Jesus Christ is for the whole human race; and that whosoever repents and believes on the Lord Jesus Christ is justified and regenerated and saved from the dominion of sin.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that believers are to be sanctified wholly, subsequent to regeneration, through faith in the Lord Jesus Christ.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that the Holy Spirit bears witness to the new birth, and also to the entire sanctification of believers.
        </li>
        <li class="py-2">
          <strong>We believe</strong> that our Lord will return, the dead will be raised, and the final judgment will take place.
        </li>
      </ul>
    </div>
</section>
<div class="pimg2 mission-image">
  <div class="ptext">
    <h2>
      <span class="border">
        OUR MISSION
      </span>
    </h2>    
  </div>
</div>
<section class="section section-light">
    <h3 class="text-center">MISSION:</h3>
    <h4>Live out the 3 dimensions of Jesus&rsquo; life -- Up. In. Out</h4>
</section>
<div class="row py-3 px-3">
  <div class="col-lg-4 col-md-4">
    <div class="row">
      <div class="col-lg-2 col-md-2">
          <h4>Up:</h4>
      </div>
      <div class="col-lg-10 col-md-10">
        <ul>
          <li>The Father is our foundation</li>
          <li>As a church, we are committed to become a spiritual family that worships the Father</li>
          <li>We worship the Father in community</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="row">
      <div class="col-lg-2 col-md-2">
          <h4>In:</h4>
      </div>
      <div class="col-lg-10 col-md-10">
        <ul>
          <li>We develope meaningful relationships by doing life together</li>
          <li>We dedicate ourselves to our church and church family</li>
          <li>Community and relationships drive our teams</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="row">
      <div class="col-lg-2 col-md-2">
          <h4>Out:</h4>
      </div>
      <div class="col-lg-10 col-md-10">
        <ul>
          <li>We serve our community by fully engaging a broken world with the love of Jesus</li>
          <li>Helping the broken with compassion and understanding is a tenant we pursue</li>
          <li>We show love by kneeling down to those in need</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="pimg3 campus-image">
  <div class="ptext">
    <h2>
      <span class="border">
          Our Campus
      </span>
    </h2>
  </div>
</div>
<div class="container">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99033.5653090846!2d-121.74197597519527!3d39.13380704246996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8084ac800ba6d90d%3A0xc19bce8622896347!2sHope+Point+Nazarene+Church!5e0!3m2!1sen!2sus!4v1508759428740" width="100%" 
    height="350px" 
    frameborder="0" 
    style="border:0" 
    allowfullscreen>
  </iframe>
</div>